<?xml version="1.0"?>
<!--
    Acl rights starting with "Acl" are "abstract" rights, they don't have any menu/pages directly related.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_other_settings">
                        <resource id="Tym17_MailPerformance::marketing" title="MailPerformance">
                            <resource id="Tym17_MailPerformance::overview" title="Overview" sortOrder="50">
                                <resource id="Tym17_MailPerformance::Acl_AccountInfo" title="Account information" sortOrder="20">
                                    <resource id="Tym17_MailPerformance::Acl_AccName" title="Name" sortOrder="10"/>
                                    <resource id="Tym17_MailPerformance::Acl_AccOwner" title="Owner name" sortOrder="20"/>
                                    <resource id="Tym17_MailPerformance::Acl_AccEmail" title="Email" sortOrder="30"/>
                                    <resource id="Tym17_MailPerformance::Acl_AccExpiration" title="Expiration date" sortOrder="40"/>
                                    <resource id="Tym17_MailPerformance::Acl_AccXKey" title="XKey" sortOrder="50"/>
                                </resource>
                                <resource id="Tym17_MailPerformance::Acl_EventBinding" title="Event Binding" sortOrder="40"/>
                                <resource id="Tym17_MailPerformance::Acl_CustomerManagement" title="Customer Management" sortOrder="60"/>
                                <resource id="Tym17_MailPerformance::Acl_CartAbandonment" title="Cart Abandonment" sortOrder="80"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::content">
                    <resource id="Tym17_MailPerformance::forms" title="MailPerformance Forms" sortOrder="20"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Tym17_MailPerformance::config" title="MailPerformance" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
