<?xml version="1.0"?>
/**
 * Copyright
 */
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <mailperformance>
            <authsetting>
                <autologinkey>0</autologinkey>
                <enabled>yes</enabled>
            </authsetting>
        </mailperformance>
    </default>
</config>
