<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 NP6. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="mperf_request">
        <observer name="mperf_each_loaded_page" instance="NP6\MailPerformance\Model\Observer\OnPageLoad" method="checkOperational" />
    </event>
</config>
