<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Tym17_MailPerformance::overview" title="MailPerformance" module="Tym17_MailPerformance" sortOrder="100" parent="Magento_Backend::other_settings" action="MailPerformance/Overview" resource="Tym17_MailPerformance::overview"/>
        <add id="Tym17_MailPerformance::forms" title="MailPerformance Forms" module="Tym17_MailPerformance" sortOrder="500" parent="Magento_Backend::content_elements" action="MailPerformance/Forms" resource="Tym17_MailPerformance::forms"/>
    </menu>
</config>
