<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <tab id="mailperformance" translate="label" sortOrder="100">
            <label>Hello World</label>
        </tab>
    </system>
</config>
